:root {
  --primary-color: #fffcf4;
  --color-head: #352626;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: #f4f4f4;
}
@keyframes changcolornameshop {
  0% {
    color: #fff;
  }
  50% {
    color: #a49494;
  }
  75% {
    color: rgb(172, 125, 64);
  }
  100% {
    color: rgba(225, 232, 234, 0.952);
  }
}
html {
  font-size: 62.5%;
}
.information__website {
  background: var(--primary-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
  position: relative;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  display: block;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #575757;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.content {
  width: 1100px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6f61;
  background: black;
  color: rgb(56, 40, 40);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #ff3f31;
}

.nameshop a {
  text-decoration: none;
  color: #fff;
  animation: changcolornameshop ease-in 10s infinite;
}

/* ------------- Body ------------------ */

/* ------ Form Cart ------- */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px; /* Max width for the modal */
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.remove-item {
  background-color: #dc3545; /* Bootstrap danger color */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.remove-item:hover {
  background-color: #c82333; /* Darker danger color */
}
/* -------Header----- */
.header-fixed {
  position: sticky;
  top: -40px;
  z-index: 1;
  background: var(--color-head);
  padding: 10px 0;
}

.header-fixed .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
  justify-content: space-between;
}
.header-fixed h1 {
  text-align: center;
  margin: 0;
}

.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  padding: 8px 21px;
  color: #fff;
}
.nav a:hover,
.nav li.active a {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  color: rgb(155, 150, 150);
}

.nav li.active a::after {
  content: "";
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #575757;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #575757;
}

/* hero-title */
.hero {
  background: url("../images/placeholder.jpg") no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 50px 0;
}

.hero h2 {
  font-size: 3rem;
  color: #333;
}

.hero p {
  font-size: 1.2rem;
  margin: 10px 0 30px;
  color: #333;
}
/*----------------- Featured Products ------------------ */
.promo {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.promo img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.promo :hover img {
  transform: scale(1.1);
}
.promo h2 {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 20px;
}

.promo p {
  margin-top: 10px;
}

/* products */
.products {
  padding: 50px 0;
  text-align: center;
}

.product {
  display: inline-block;
  margin: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 40px);
  box-sizing: border-box;
}

.product img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  max-height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.product h3 {
  font-size: 1.5em;
  margin: 20px 0 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-section {
  padding: 50px 0;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}
/* -------------- About us ------------------ */
.about {
  padding: 50px 0;
  text-align: center;
}
.aboutus {
  text-align: center;
  padding: 50px 0;
}

.aboutlist {
  max-width: 1200px;
  padding: 40px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
}

.aboutitems {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.aboutitems h2 {
  text-decoration: none;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}

.aboutitems ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.aboutitems a {
  text-decoration: none;
  color: white;
}
.aboutitems a:hover {
  color: red;
}

/* -------------- Contact --------------- */
.contact-section {
  width: 100vw;
  height: 100vh;
  margin-bottom: 50px;
  padding: 10px 0 10px;
  background-image: url("../images/Banner01.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contact-content {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px 40px;
  text-align: center;
  border-radius: 10px;
}

/*------------ shoes ---------------*/
.shoes-section {
  padding: 20px;
  background-color: var(--primary-color);
}

.shoes-container-title {
  text-align: center;
  margin-bottom: 20px;
}

.shoes-nameshop {
  font-size: 2em;
  margin-bottom: 10px;
}

.shoes-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shoes-product {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  width: 250px; /* Increase the width */
  background-color: #ffffff;
  box-sizing: border-box;
}

.shoes-product img.shoes-thumb {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: transform 0.7s ease;
}
.shoes-product img.shoes-thumb:hover {
  transform: scale(1.1);
}

.shoes-product h3 {
  color: #171100;
  font-size: 1.4em;
  margin-bottom: 10px;
  transition: transform 0.5s ease;
}

.shoes-product p {
  font-size: 1.2em;
  margin-bottom: 10px;
  transition: transform 0.5s ease;
}

.shoes-products .shoes-product a {
  text-decoration: none;
  color: #171100;
}

.shoes-products .shoes-product h3:hover {
  color: #ff3f31;
}

.shoes-product .shoes-options {
  margin-bottom: 10px;
}

.shoes-product label {
  display: inline-block;
  margin-right: 5px; /* Add margin to the right */
}

.shoes-product select {
  padding: 5px;
}

.shoes-product .shoes-btn {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%; /* Ensure button width matches the product width */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.shoes-product .shoes-btn:hover {
  background-color: #218838;
}
/* Product detail  */

.product-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
}

.product-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-info {
  max-width: 400px;
}

.product-info h2 {
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 10px;
}

.product-info p {
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 15px;
}

.product-options {
  margin-bottom: 15px;
}

.btn-add-to-cart {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add-to-cart:hover {
  background-color: #218838;
}
/* Product-Detail-Cart */
.cart-item-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.cart-item-info {
  display: inline-block;
  vertical-align: top;
}

.cart-item-info p {
  margin: 0;
  font-size: 14px;
}
/* Cart Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Cart item styles */
.cart-thumb {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  vertical-align: middle;
}

#cart-items li {
  list-style: none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
/* Cart Modal Styles */
.cart-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.cart-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*-------------- Footer ------------------*/
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  background: var(--color-head);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
}

.footer-logo img {
  max-width: 150px;
  margin-bottom: 10px;
}

.footer-column {
  flex: 1;
  padding: 0 10px;
}

.footer-column h3 {
  border-bottom: 2px solid #ff6f61;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
}

.footer-bottom {
  background-color: #222;
  padding: 10px 0;
}

.footer-bottom p {
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* 3 mục mới */
#clothes,
#shoes,
#accessories {
  padding: 50px 0;
  text-align: center;
}

#clothes .product,
#shoes .product,
#accessories .product {
  display: inline-block;
  margin: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 40px);
  box-sizing: border-box;
}

#clothes .product img,
#shoes .product img,
#accessories .product img {
  max-width: 100%;
  height: 350px;
  display: block;
  margin: 0 auto;
  max-height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

#clothes .product h3,
#shoes .product h3,
#accessories .product h3 {
  font-size: 1.5em;
  margin: 20px 0 10px;
}
